[submodule "external/boost"]
	path = external/boost
	url = https://github.com/boostorg/serialization.git
[submodule "external/unordered_dense"]
	path = external/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "external/pthash"]
	path = external/pthash
	url = https://github.com/jermp/pthash.git
[submodule "external/googletests"]
	path = external/googletests
	url = https://github.com/google/googletest.git
